extends layout 
 
block content 
  h1= title 
 
  - let id = toShow._id 
  - let Color = toShow.Color 
  - let Font = toShow.Font 
  - let Size = toShow.Size 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{id} 
  - let actionid = "/resource/text/" + id 
  form(id='textForm', action=actionid, method="PUT") 
    div.form-group 
        label.textAttr(for='Color') Text Color 
        input#Color(type='text', name='Color' value=Color) 
    div.form-group 
        label.textAttr(for='Font') Text Font
        input#Font(type='text', name='Font' value=Font) 
    div.form-group 
        label.textAttr(for='Size') Text Size 
        input#Size(type='number', name='Size' value=Size) 
    input(type="submit")
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/text' 
    }  
 
  script. 
    document.forms['textForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });