extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let id = toShow._id 
    - let Color = toShow.Color 
    - let Font = toShow.Font 
    - let Size = toShow.Size 
    - let actionid = "/resource/text/" + id 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='textAttr mr-3') ID is: 
        div #{id} 
      div.row 
        div(class='textAttr mr-3') Text Color is: 
        div #{Color} 
      div.row 
        div(class='textAttr mr-3') Text Font is: 
        div #{Font} 
      div.row 
        div(class='textAttr mr-3') Text Size is: 
        div #{Size} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the School collection 
      window.location.href='/school' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/text' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }