extends layout

block content
  h1= title
  - let o;
  - let items = results;
  div(class='container-fluid')
    div(class='row m-1')
    div(class= "row row-cols-1 row-cols-sm-4 g-6")
      each item, index in items
        - let destination = `dispatch(\"/text/update?id=${item._id}\")`
        div(class="card text-white bg-success mb-3" class='col card card-body card-text' onclick='buy('+index+')') Item #{item.Color}(#{item.Font}) is #{item.Size}
          <br><br>
          button.btn( class="btn-light ml-1", onclick= destination) Update

  script.
    function buy(x){  
      alert('Purchased Item: ' + x)
   }

  script.
    function dispatch(path){
      window.location.href=path
    } 